.a{
    background-image: url(../cat_photo.png);
    background-size: cover;
    border: 2px dashed;
}
div{
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    font-size: 25px;
}
body{
    background-image: url(../ram_a.png);
    background-size: contain;
}