div{
    border-radius: 50%;
    background-color: aqua;
    border-color: black;
    border-style: dotted;
    text-align: center;
    color: burlywood;
    height: 100px;
    width: 100px;
    margin: 3px;
}
