div{
    font-size: large;
    border: 3px solid black;
    height: 350px;
    width: 500px;
}
.b{
    display: inline-block;
    height: 200px;
    width: 100px;
    margin: 10px;
}
.a{
    display:inline-block;
    background-color: chartreuse;
}
.c{
     display: inline-block;
    background-color: rgb(255, 0, 200);
    
}
.d{display: inline-block;
    background-color: rgb(229, 255, 0);


}