.container{
    display: flex;
    height: 200px; 
    width: 500px;
    background-color: aquamarine;
    border:2px solid black;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
    align-content: space-between;

}
.i{
    background-color: blanchedalmond;
    height: 50px;
    width: 100px;
    border: solid;
    flex-grow: 1;
}
.i2{
    order: -1;
    align-self: flex-end;
}