.container{
    height: 500px;
    width: 1000px;
    border: 3px solid black;
    background-color: aqua;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows:repeat(4,100px);
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; */
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}
.item{
    height: 100px;
    width: 100px;  
    border: 2px solid black;
    background-color: brown;
    text-align: center;
    align-items: center;
     
}
 .item1{
    grid-area: header;
}
.item2{
 grid-area:main;
}
.item3{
    grid-area: side bar;
}
.item4{
    grid-area: footer;
} 