.box{
    height: 100px;
    width: 100%;
    background-color: green;
}
@media(min-widht:1024px){
    .box{
        background-color:red;
    }
}
@media(min-width:768px){
    .box{background-color: blue;}
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 1rem;
}
.menu{
    display: none;
    flex-direction: column;
    background: red;
}
.logo{
    background-color: bisque;
    
}