.box{
    height: 100px;
    width: 100%;
    background-color: green;
}
@media(min-widht:1024px){
    .box{
        background-color:red;
    }
}
@media(min-width:768px){
    .box{background-color: blue;}
}